@font-face { 
  font-family: "Muller"; font-weight: thin; src: url('fonts/Muller-Thin.otf') format(opentype);
  font-family: "Muller"; font-weight: bold; src: url('fonts/Muller-ExtraBold.otf') format(opentype);
  font-family: "Muller"; font-weight: light; src: url('fonts/Muller-Light.otf') format(opentype);

} 

h1 {
  font-family: Muller, sans-serif;
/*  font-weight: bold;*/
  text-align: center;
  padding-top: 15px;
  color: #F238A6;
  
}

#thinTitle {
  font-family: Muller, sans-serif;
  font-weight: thin;
}

#header {
  background-color: black;
  height: 100px;
  
}